.box__style {
  display: flex;
  align-items: center;
  flex-direction: column;
  filter: drop-shadow(rgba(119, 176, 230, 0.952) 2px 2px);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 19rem;
  background-color: rgba(48, 107, 121, 0.9529411765);
  line-height: 1.5rem;
  margin: 0 auto;
}

.txt__red {
  color: #cf2121;
  font-weight: 800;
  filter: drop-shadow(black 1.5px 1.5px);
}

.txt__blue {
  color: rgba(127, 206, 224, 0.9921568627);
  font-weight: 800;
  filter: drop-shadow(black 1.5px 1.5px);
}

.txt__gold {
  color: #DAAB50;
  font-weight: 800;
  filter: drop-shadow(black 1.5px 1.5px);
}

.txt__purple {
  color: #B58CE9;
  font-weight: 800;
  filter: drop-shadow(black 1.5px 1.5px);
}

.news__img {
  width: 19rem;
  margin: -1rem 0 1rem 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: rgba(119, 176, 230, 0.952) 2px solid;
  height: 6rem;
}

.btn {
  display: block;
  margin: 0 auto;
  background-color: #cf2121;
  border: none;
  width: 12rem;
  height: 2.75rem;
  border-radius: 50rem;
  text-transform: uppercase;
  color: #213744;
  font-weight: 800;
  filter: drop-shadow(rgba(119, 176, 230, 0.952) 4px 4px 8px);
}
.btn.btn:hover {
  background-color: rgba(127, 206, 224, 0.9921568627);
  transition: 0.3s ease-in-out;
  filter: drop-shadow(#cf2121 4px 4px 8px);
}
.btn.btn:active {
  background-color: rgba(127, 206, 224, 0.9921568627);
  transition: 0.3s ease-in-out;
  filter: drop-shadow(#cf2121 4px 4px 8px);
}

.site__img {
  position: relative;
  filter: drop-shadow(rgba(119, 176, 230, 0.952) 1px 1px);
}

.game__btn {
  background-color: #cf2121;
  border: none;
  width: 9rem;
  height: 2.75rem;
  border-radius: 50rem;
  text-transform: uppercase;
  color: #213744;
  font-weight: 800;
  filter: drop-shadow(rgba(119, 176, 230, 0.952) 4px 4px 8px);
}
.game__btn.game__btn:hover {
  background-color: rgba(127, 206, 224, 0.9921568627);
  transition: 0.3s ease-in-out;
  filter: drop-shadow(#cf2121 4px 4px 8px);
}
.game__btn.game__btn:active {
  background-color: rgba(127, 206, 224, 0.9921568627);
  transition: 0.3s ease-in-out;
  filter: drop-shadow(#cf2121 4px 4px 8px);
}

.box-content {
  margin-bottom: 4rem;
}

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #F04A49;
  z-index: 20;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

:root {
  font-size: 16px;
}
@font-face {
  font-family: RobotoCondensed;
  src: url(/font/RobotoCondensed-Regular.ttf);
}

body {
  background-color: #213744;
  color: white;
  overflow-x: hidden;
  font-family: "RobotoCondensed", sans-serif;
}

.link {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__container {
  background-color: rgba(48, 107, 121, 0.9529411765);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: rgba(127, 206, 224, 0.9921568627) 2px solid;
  margin-bottom: -2.5rem;
}

.header__logo {
  position: relative;
  top: 1rem;
  left: 2.3rem;
  filter: drop-shadow(rgba(119, 176, 230, 0.952) 1px 1px);
}

.menu__toggle {
  height: 27px;
  width: 30px;
  margin: 50px;
  position: relative;
  overflow: visible;
  z-index: 2;
  left: 2.5rem;
}
.menu__toggle .menu__toggle-bar,
.menu__toggle .menu__toggle-bar:before,
.menu__toggle .menu__toggle-bar:after {
  background: #cf2121;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.menu__toggle .menu__toggle-bar:before,
.menu__toggle .menu__toggle-bar:after {
  content: "";
}
.menu__toggle .menu__toggle-bar:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
.menu__toggle .menu__toggle-bar {
  right: 0px;
  top: 13px;
  width: 27px;
}
.menu__toggle .menu__toggle-bar:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
.menu__toggle.close .menu__toggle-bar:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
.menu__toggle.close .menu__toggle-bar {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
.menu__toggle.close .menu__toggle-bar:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 50%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.2s ease-in-out;
}
#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.932);
  border-radius: 1rem;
}
#menu .menu__container {
  padding: 0;
}
#menu .menu__container-lnk {
  color: #DAAB50;
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}

.main__content-ttl {
  margin: 0 0 1.5rem 0;
}

.main__content-img1 {
  top: 2.5rem;
  right: 0.3rem;
  z-index: 1000;
}

.main__content-img2 {
  left: 19.3rem;
  top: 2rem;
  z-index: 1000;
}

.main__content-img3 {
  left: 7.5rem;
  top: 1rem;
  margin-top: -1.5rem;
}

.main__content-img4 {
  bottom: 0rem;
  left: 2rem;
  margin-top: 0.5rem;
}

.news__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.news__content-ttl {
  margin: 1rem;
}

.main__content-img5 {
  left: 8rem;
}

.box-content {
  margin-bottom: 4rem;
}

.footer {
  background-color: rgba(48, 107, 121, 0.9529411765);
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top: rgba(127, 206, 224, 0.9921568627) 2px solid;
  margin-top: 2rem;
  height: -moz-fit-content;
  height: fit-content;
}

.footer__icn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__txt {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

.footer__icn-img {
  width: 2rem;
}

.game__ttl {
  margin-top: 5rem;
  text-align: center;
}

.game__txt {
  text-align: center;
  margin-bottom: 2rem;
}

.game {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.game__ttl {
  margin-bottom: 2rem;
}

.game__img {
  border-radius: 1rem;
  margin: 1.5rem;
}

.game__img1 {
  filter: drop-shadow(#DAAB50 2px 2px);
}

.game__img2 {
  filter: drop-shadow(#B58CE9 2px 2px);
}

.game__img3 {
  filter: drop-shadow(#cf2121 2px 2px);
}

.game__img4 {
  margin: 0.5rem 0 0 6rem;
}

.game1__img {
  border-bottom: #DAAB50 2px solid;
}

.game1__logo {
  filter: drop-shadow(#DAAB50 1px 1px 1px);
  position: relative;
  top: -3rem;
  left: 9rem;
}

.game1__ttl {
  text-align: center;
  margin-bottom: 2rem;
  color: #DAAB50;
  filter: drop-shadow(black 2px 2px);
}

.game1__img1 {
  bottom: 8rem;
  left: 15rem;
}

.game1__img2 {
  bottom: 8rem;
  left: 15rem;
}

.game1__txt {
  margin-bottom: -4rem;
}

.game__footer {
  background-color: rgba(48, 107, 121, 0.9529411765);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top: rgba(127, 206, 224, 0.9921568627) 2px solid;
  margin-top: 4rem;
}

.game__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game__form-txt {
  width: 85%;
  height: 5rem;
  border-radius: 1rem;
  margin: -1rem 0 3rem 0;
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #F04A49;
  z-index: 20;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

/* Styling buttons & webpage */
body {
  background: offwhite;
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid #F04A49;
  color: #F04A49;
  font-size: 25px;
  padding: 10px 20px;
}

button:hover {
  background-color: #F04A49;
  color: #FFF;
  border: 3px solid #F04A49;
  transition: all 0.3s ease 0s;
}

p {
  margin: 1em 0;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */