.header__container {
  background-color: $trans-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 4rem;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: $blue-shadow 2px solid;
  margin-bottom: -2.5rem;
  

}
.header__logo {
  margin-top: 2rem;
}

.menu__toggle {
  display: inline-block;
  cursor: pointer;
}

.bar {
  width: 2rem;
  height: 0.2rem;
  background-color: $red;
  margin: 6px 0;
  transition: 0.4s;
}

.menu__container {
  display: none;
}

.menu__container-active {
  display: block;
  background-color: gray;
  width: 150px;
  border-radius: 0.5rem;
}

.menu__container-lst {
  list-style: none;
  padding: 0;
}

.menu__container-lst-itm {
  margin-bottom: 10px;
  padding: 10px 20px;
}

.menu__container-lst-lnk {
  text-decoration: none;
  color: #ffffff;
}

.menu__container-lst-lnk:hover {
  color: gold;
}
